<%- include("header") %>
    <div class="forAll">
        <center>
            <h1 class="AboutUS">About us</h1>
            <p>Animals Asia is devoted to ending bear bile farming and improving the welfare of animals across Asia. We promote compassion and respect for all animals and work to bring about long-term change.</p>
            <p>Founded in 1998, the Animals Asia team has been rescuing bears since 1994. We operate award winning bear rescue sanctuaries in China and Vietnam, and we are the only organisation with a bear sanctuary in China. Our founder and CEO, Jill Robinson
                MBE, Dr.med.vet. h.c., Hon LLD is widely recognised as the world’s leading authority on the cruel bear bile industry, having campaigned against it since 1993.</p>
            <hr>
            <h3>End Bear Bile Farming</h3>
            <p>Animals Asia works to end the bear bile trade, which sees over 10,000 bears – mainly moon bears but also sun bears and brown bears – kept on bile farms across Asia. It has rescued more than 600 bears from the industry since it was established.
                After years of cooperation, Animals Asia has signed a Memorandum of Understanding with the Vietnam Government to completely End Bear Bile Farming in Vietnam by 2022. This includes rescuing and rehoming approximately 600 bears that remain
                on farms in Vietnam, where bear bile farming is illegal. In China, we also have consensus from the authorities to work towards the ending of the trade, allowing us to operate two bear rescue facilities in Chengdu and Nanning. We continue
                to work with the farmers, the government, traditional medical associations and community to build trust and awareness around the animal welfare issues associated with the trade, highlight the dangers that consumption of wildlife products
                like bear bile present to humans, and promote the use of synthetic and plant based substitutes to bear bile as a more humane alternative.</p>
            <hr>
            <h3>Cat and Dog Welfare</h3>
            <p>Animals Asia works to end the trade in dogs and cats for food in Asia, collaborates with governments and NGO's to improve the welfare of companion animals, and promotes humane population management.</p>
            <hr>
            <h3>Captive Animal Welfare</h3>
            <p>Animals Asia campaigns for an end to abusive animal practices in zoos and safari parks in Southeast Asia, and works closely with governing authorities and facilities to improve animal management and increase awareness of the welfare needs
                of captive wild animals.</p>
        </center>
    </div>

    <%- include("footer") %>