<%- include('header') %>
    <div class="forAll">
        <center>
            <h2 class="animalheading">Get to know Animals</h2>
            <p>The Wild Animal Sanctuary has rescued over 1,000 animals in its 41+ year history, and we currently have over 650 living with us today. All of our animals were rescued from illegal or abusive situations and their rescue stories are incredible
                to read - or watch this rescue video. Below is a listing of the species we have, and an approximate number that are currently living here.</p>

            <div class="container2 col-sm-12 d-flex">

                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/lion.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="Lion">Lion</a>
                </div>
                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/fox.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="Fox">Fox</a>
                </div>
                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/elephant.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="Elephant">Elephant</a>
                </div>
                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/bear.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="Bear">Bear</a>
                </div>
                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/monkey.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="monkey">monkey</a>
                </div>
                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/wolf.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="wolf">wolf</a>
                </div>
            </div>
            <div class="container2 col-sm-12 d-flex">

                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/giraffe.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="Giraffe">Giraffe</a>
                </div>
                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/jagure.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="Jagure">Jagure</a>

                </div>
                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/camel.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="Camel">Camel</a>

                </div>
                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/tiger.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="Tiger">Tiger</a>

                </div>
                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/horse.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="Horse">Horse</a>

                </div>
                <div class="box col-sm-2 animalCard">
                    <img src="/images/animals/bobcat.jpg" class="gridimages">
                    <a class="animalButton btn btn-outline-success" href="Bobcat">Bobcat</a>

                </div>
            </div>



        </center>
    </div>





    <%- include('footer') %>